body {
    margin-left: 0;
    padding: 0;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    background-color :lightgray 
}




nav {
    margin-left:  0px;
}
       

article {
    margin-left: 10px;
}

img { 
   max-width: 100%; width: 340px; height: 340px; object-fit: contain; margin-left: 10px;}


   /* hero*/


#hero-text {
    position: absolute;
    top: 0; left: 0;
   margin-top : 150px; margin-left: 11px;
    color: rgb(187, 174, 174);
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

body { font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; }
h1 { font-size: 2rem; margin-bottom: 1rem; margin-left: 10px; }
h2 { font-size: 1.5rem; margin: 1rem 0 0.5rem; margin-left: 10px; }
h3 { font-size: 1.25rem; margin: 1rem 0 0.5rem; margin-left: 10px; }
p { margin-bottom: 1rem; margin-left: 10px; }
.small { font-size: 0.875rem; color: rgb(141, 93, 93); }

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 1rem;
}
nav {
    margin-left:  10px;
}
       
a {
    margin-left: 10px;
}
